/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x:hidden ;
}

.codeblock1 {
    width: 372.95px;
    height: 257.05px;
    border-radius: 100%;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    background: linear-gradient(
      123.77deg,
      #8a2be2 -6.46%,
      #ffa500 59.04%,
      #f8f8ff 124.53%
    );
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
  }
  .codeblock2 {
    position: absolute;
    width: 372.95px;
    height: 257.05px;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    border-radius: 100%;
    background: linear-gradient(
      118.19deg,
      #1fa2ff -3.62%,
      #12d8fa 50.44%,
      #a6ffcb 104.51%
    );
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
  }
  .code-border {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right bottom, #ffffff38, #ffffff00);
    background: linear-gradient(
      111.93deg,
      rgba(14, 26, 45, 0.24) -1.4%,
      rgba(17, 30, 50, 0.38) 104.96%
    )};


.homepage_bg{
      background: url("../src/assets/Images/bghome.svg");
      background-size: contain;
 }

 .blackButton {
  @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5;
}
.lable-style {
  @apply text-[14px] text-richblack-100;
}
.form-style {
  @apply rounded-lg bg-richblack-700 p-3 text-[14px] leading-[16px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
}
.section_heading {
  @apply text-2xl font-bold text-richblack-5 lg:text-4xl;
}

.yellowButton {
  @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[8px] font-semibold text-richblack-900;
}
